<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }} | backspace blogging platform</title>
        <meta name="generator" content="backspace blogging platform">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {{ css('bootstrap.css') }}
        {{ css('admin.css') }}
        {{ js('jquery.min.js') }}
        {% block javascript %}{% endblock %}
    </head>

    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container-fluid">
                    <a class="brand" href="#">back<b>space</b></a>
                    <div class="pull-right">
                        <ul class="nav">
                            <li class="active"><a href="#">{{ lang('blog_admin') }}</a></li>
                            <li><a href="/">{{ lang('visit_blog') }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid content-wrap">
            <div class="sidebar">
                <div class="well">
                    <h3>{{ lang('administrator') }}</h3>
                    <ul>
                        <li>
                            <a href="{{ uri('admin/dashboard') }}">
                                {{ img('adm-ico/cloud-filled.png') }}
                                {{ lang('dashboard') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ uri('admin/logout') }}">
                                {{ img('adm-ico/shut-down.png') }}
                                {{ lang('logout') }}
                            </a>
                        </li>
                    </ul>
                </div>

                <br><br>

                <div class="well">
                    <h3>{{ lang('contents') }}</h3>
                    <ul>
                        <li>
                            <a href="{{ uri('admin/articles/create') }}">
                                {{ img('adm-ico/world.png') }}
                                {{ lang('write_article') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ uri('admin/articles') }}">
                                {{ img('adm-ico/search.png') }}
                                {{ lang('article_search') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ uri('admin/categories') }}">
                                {{ img('adm-ico/bookmark.png') }}
                                {{ lang('categories') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ uri('admin/comments') }}">
                                {{ img('adm-ico/chat-.png') }}
                                {{ lang('search_comments') }}
                            </a>
                        </li>
                    </ul>
                </div>

                <br><br>

                <div class="well">
                    <h3>{{ lang('user_management') }}</h3>
                    <ul>
                        <li>
                            <a href="#">
                                {{ img('adm-ico/multi-agents.png') }}
                                {{ lang('manage_users') }} 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {{ img('adm-ico/ID.png') }}
                                {{ lang('privilege_overview') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                {% block content %}

                {% endblock %}
            </div>

            <br style="clear:both;">


            <footer>
                <p>&copy; 2011 back<strong>space</strong> blogging platform</p>
            </footer>
        </div>

    </body>
</html>